.toolbar {
  background: #323e4b;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  min-width: 220px;
  width: 20vw;
  font-family: sans-serif;
  overflow-y: auto;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.03);

  h6 {
    font-size: 0.85rem;
    margin: 0 0 0.25rem 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .button {
    background: none;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    width: 100%;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.2s ease;
    text-align: left;

    &:hover {
      background-color: #1f2122;
    }
  }

  .fileInputWrapper {
    position: relative; 


    label.button {
      display: block;
      padding: 0.5rem 0.75rem;
      width: unset;
      background: none;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 0.9rem;
      text-align: left;
      cursor: pointer;
      transition: background 0.2s ease;
  
      &:hover {
        background-color: #1f2122;
      }
    }

    .hiddenFileInput {
      display: none; // completely hide the input
    }
  }

  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0.5rem 0;
  }
}

.toolsSection {
  margin-top: auto; // 🔥 Push to bottom
}


.graph{
  width: 100%;
  height: 100%;
}