.wrapper {
    text-align: center;
    padding: 3rem;
    height:100%;
    background: linear-gradient(to bottom, #fef9f3, #f0f4fa);
    border-radius: 16px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);
  }

  .title{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #00447c;
  }
  
  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #333;
  }
  
  .stats {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
  }