.accordion {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.header {
  width: 100%;
  background: #f7f7f7;
  padding: 1rem;
  text-align: left;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: none;
}

.icon {
  font-size: 1.2rem;
  font-weight: bold;
}

.content {
  padding: 1rem;
  background-color: #fff;
  border-top: 1px solid #eee;
}
