.resultWrapper {
    padding: 2rem;
    text-align: center;
  }
  
  .title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .scoreContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .scoreText {
    margin: 0px;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .perfect {
    color: #28a745;
    font-weight: bold;
  }
  
  .good {
    color: #d2ff07;
    font-weight: bold;
  }
  
  .tryAgain {
    color: #dc3545;
    font-weight: bold;
  }
  