.bulletList {
    list-style: none;
    padding-left: 0;
    //margin: 0;
  
    li {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
  
      &::before {
        content: '';
        flex-shrink: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--bullet-color, #00447c);
        margin-right: 1rem;
      }
  
      &::after {
        content: '';
        position: absolute;
        left: 5px;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: var(--bullet-color, #00447c);
        z-index: 1;
      }
  
      &.green {
        --bullet-color: #48b16e;
      }
  
      &.orange {
        --bullet-color: #f9b55b;
      }
  
      &.purple {
        --bullet-color: #d45bf9;
      }
  
      &.blue {
        --bullet-color: #5b92f9;
      }
  
      &.gray {
        --bullet-color: #666;
      }
    }
  }
  