.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 100px;
    height: 50px;
    width: 80px;
  }

  .class{
    background: #afcfea;
  }

  .individual{
    background: #e6b4da;
  }

  .literal{
    background: #b2dca0;
  }