.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
}